.sidebar{
    margin-top: 10px;
}
.sidebar_btn button{
    display: flex;
    background-color: transparent;
    padding: 5px 10px;
    align-items: center;
    border-radius: 40px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px #ccc;
    margin-left: 20px;
}
.sidebar_btn button span{
    font-size: 16px;
    margin-left: 10px;
    margin-right: 20px;
}
.sidebar_options{
    margin-top: 10px;

}
.sidebar_option {
    display: flex;
    align-items: center;
    padding: 8px 20px;
    border-radius: 0px 20px 20px 0px;
}
.sidebar_option:hover{
    cursor: pointer;
    background-color: whitesmoke;
    
}
.sidebar_option span{
    font-size: 13px;
    margin-left: 15px;
    font-weight: 500;
    color : rgb(78, 78, 78)
}
.sidebar_option-active {
    background-color: #e8f0fe;
}
.sidebar_option-active span {
    color: #1367d2;
}
.sidebar_option-active svg {
    color: #1367d2;
}
.progress_bar{
    padding: 0px 20px;
}
.progress_bar span{
    font-size: 13px;
    color: #333;
    display: block;
}
.modal_pop{
    top: 50%;
    background-color: #fff;
    width: 500px;
    margin: 0px auto;
    position: relative;
    transform: translateY(-50%);
    padding: 10px;
    border-radius: 10px;
}
.modalHeading{
    text-align: center;
    border-bottom: 1px solid lightgray;
    height: 40px;
}
.post_submit{
    width: 100%;
    background-color: #2381fe;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.uploading{
    width: 92%;
    text-align: center;
    background-color: #0ca50c;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}